.swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    align-items: center;
}
  .swiper-button-next {
      color: rgba(128, 112, 112, 0.103);
  }
  .swiper-button-prev {
    color: rgba(128, 112, 112, 0.103);
}
 .swiper-pagination {
    color: rgba(128, 112, 112, 0.103);
 }
 
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: rgb(255, 255, 255);
}

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    align-items: center;
    align-content: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .partners {
      padding-top: 100px;
  }