.team {
    padding-top: 70px;
    padding-bottom: 47px;
    @media screen and (min-width: 1280px) {

    }   
    @media screen and (min-width: 768px) {
        padding-bottom: 70px;
        padding-top: 47px;     
        }   
    
  }
  .team-descr {
      font-size: 14px;
      color: white;
      margin-bottom: 30px;
      text-align: center;
      font-weight: 400;
      line-height: 1.5;
      display: block;
      max-width: 100%;
      width: 100%;
      @media screen and (min-width: 768px) {
        font-size: 18px;
    }

  }
  .team-menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    @media screen and (min-width: 767px) {
        margin-left: -30px;
    }
  }
  
  .team-menu-item {
    border-radius: 0px 0px 4px 4px;
    margin-left: auto;
    margin-top: 30px;
    width: 100%;
    overflow:hidden;
    height:auto;
    
  }
  .team-menu-img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .team-menu-title-div {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
  }
  .team-menu-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
    color:white;
  }
  .team-menu-description {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
    color:white;
  }

  .team-menu-fulldescr {
    text-align: justify;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 16px;
    list-style: outside;
    color: #939598;
  }
  
  .team-menu-fulldescr-item {
    text-align: left;
  }


  @media screen and (min-width: 768px) {
    .team-menu-item {
      flex-basis: calc((100% - 90px) / 3);
    }
  }
  @media screen and (min-width: 1024px) {
    .team-menu-item {
      flex-basis: calc((100% - 120px) / 3);
    }
  }
  .picture {
    overflow:hidden;
    width: auto;
    height:auto;

  }
  .team-menu-item img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    }
    
   .team-menu-item img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    padding-bottom: 35px;
    @media screen and (min-width: 768px) {
        padding-bottom: 15px;
      }
      @media screen and (min-width: 1024px) {
          padding-bottom: 30px;
      }
    
    }