@import url(https://fonts.googleapis.com/css?family=Inter:300,300i,400,400i,500,500i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i|Playfair+Display:300,300i,400,400i,500,500i,700,700i&subset=latin,cyrillic&display=swap);
$fontFamily: "Inter";
$fontSize: rem(14);

// BASE
@import './base/_common';
@import './base/_container';

// Vars
@import './variables/_variables';
@import './variables/_visually-hidden';

// components
@import './components/_about';
@import './components/_footer';
@import './components/_head';
@import './components/_header';
@import './components/_partners';
@import './components/_team';
main {
    background-color: #282929;
}